.Content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
}

.Content-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
}

.Content-headerOne{
    width: 100%;
    text-align: left;
    font-size: 48px;
}

.Content-headerTwo{
    width: 100%;
    text-align: right;
}

.Content-headerThree{
    width: 100%;
    text-align: left;
}